*{
        all: unset;
        font-size: 14px;
        font-family: "JetBrainsMono Nerd Font";
        transition: 500ms;
}

:root {
        --notification-icon-size: 32px;
        --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
        --notification-group-icon-size: 25px;
        --notification-close-size: 15px;
}
:root {
        --noti-def-color: rgba(36, 39, 58, 0.7);
        --text-color: rgb(205, 214, 244);

        --group-bg-focus: rgba(88, 91, 112, 0.15);
        --group-noti-def: 235, 160, 172;

        --mpris-album-art-overlay: rgba(69, 71, 90, 0.8);
        --mpris-button-hover: rgba(0, 0, 0, 0.5);
        --mpris-album-art-icon-size: 60px;
}

trough highlight {
        background: #cad3f5;
}

scale trough {
        margin: 0rem 1rem;
        background-color: #363a4f;
        min-height: 8px;
        min-width: 70px;
}

slider {
        background-color: #8aadf4;
}

@import 'themes/noti.css';
@import 'themes/control.css';
@import 'themes/widget.css';

.blank-window {  
        background: transparent;  
}

/*-------------------- Groups -------------------------- */
.notification-group {
        /* Styling only for Grouped Notifications */
        transition: opacity 200ms ease-in-out;
        border-radius: 8px;
        /* margin-top: 8px; */
        margin: 5px 8px 2px 8px;
        padding: 0px 3px 0px 3px;
        /* The groups close button */
}

.notification-group:hover,
.notification-group:active {
        background: var(--group-bg-focus);
}

.notification-group-headers {
        margin: 0px;
        font-weight: bold;
        font-size: 1.25rem;
        color: var(--text-color);
}

.notification-group-icon {
        color: rgb(203, 166, 247);
        margin-right: 4px;
        /* -gtk-icon-size: var(--notification-icon-size); */
}

.notification-group .notification-group-buttons, .notification-group .notification-group-headers {
        margin: 0 16px;
        color: var(--text-color);
}

.notification-group .collapsed.not-expanded {
        opacity: 0.4;
}

.notification-group.collapsed .notification-row .notification {
        /* background-color:  rgba(var(--group-noti-def), 0.2); */
}

/* Notification Expanded groups */




/* Notification close button in the group */
.notification-group-collapse-button,
.notification-group-close-all-button {
        background: transparent;
        color: var(--text-color);
        margin: 4px 0px 4px 0px; 
        border-radius: 6px;
        padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
        background: var(--mpris-button-hover);
}

.notification-group .close-button {
        margin: 7px;
        margin-top: 10px;
        padding: 2px;
        border-radius: 6.3px;
        color: #24273a;
        background-color: #ee99a0;
        -gtk-icon-filter: none;
        -gtk-icon-size: var(--notification-close-size);
}

